<nav class="navbar navbar-expand-lg navbar-light shadow-sm p-3 mb-5 bg-body rounded">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">かぶしきのホームページ</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% url 'home' as home_url %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path|slice:':6' == '/blog/'%}active{% endif %}" href="{% url 'post-list' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path|slice:':11' == '/portfolio/'%}active{% endif %}" href="{% url 'creation-list' %}">Portfolio</a>
            </li>
          </ul>
        </div>

        {% if '/portfolio/' in request.path %}
          <form action="{% url 'search-creation-list' %}" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" name="query", placeholder="作品を検索" value="{{query}}">
            <input class="btn btn-outline-success" type="submit" value="検索">
          </form>
        {% elif '/blog/' in request.path %}
          <form action="{% url 'search-post-list' %}" method="GET" class="d-flex">
            <input class="form-control me-2" type="search" name="query", placeholder="記事を検索" value="{{query}}">
            <input class="btn btn-outline-success" type="submit" value="検索">
          </form>
        {% endif %}
        
    </div>
</nav>